In [2]:
print("")
jumlah = 3/6
print("hasil "+str(jumlah))


jumlah2 = 2/6
print("hasil "+str(jumlah2))


jumlah3 = 4/6
print("hasil "+str(jumlah3))


jumlah4 = 5/6
print("hasil "+str(jumlah4))


jumlah5 = 6/6
print("hasil "+str(jumlah5))


jumlah6 = 1/6
print("hasil "+str(jumlah6))


jumlah7 = 5/6
print("hasil "+str(jumlah7))


jumlah8 = 6/6
print("hasil "+str(jumlah8))


jumlah9 = 3/6
print("hasil "+str(jumlah9))


jumlah10 = 2/6
print("hasil"+str(jumlah10))


jumlah11 = 2/6
print("hasil "+str(jumlah11))

 
jumlah12 = 1/6
print("hasil "+str(jumlah12))


jumlah13 = 3/6
print("hasil "+str(jumlah13))


jumlah14 = 1/6
print("hasil "+str(jumlah14))


jumlah15 = 5/6
print("hasil "+str(jumlah15))

total = jumlah + jumlah2 + jumlah3 + jumlah4 + jumlah5 + jumlah6 + jumlah7 + jumlah8 + jumlah9 + jumlah10 + jumlah11 + jumlah12 + jumlah13 + jumlah14 + jumlah15
print("hasil ="+str(total))

print("")

hasil 0.5
hasil 0.3333333333333333
hasil 0.6666666666666666
hasil 0.8333333333333334
hasil 1.0
hasil 0.16666666666666666
hasil 0.8333333333333334
hasil 1.0
hasil 0.5
hasil0.3333333333333333
hasil 0.3333333333333333
hasil 0.16666666666666666
hasil 0.5
hasil 0.16666666666666666
hasil 0.8333333333333334
hasil =8.166666666666666

In [9]:
print("soal2")
minggu1 =6560860+5950850+12685900+5768500+2989000
print("maka totalnya "+str(minggu1))

minggu2 =8782150+6620000+5128750+5217300+4820600
print("maka totalnya "+str(minggu2))

minggu3 =8130940+2940650+3488200+6930540+4319260
print("maka totalnya "+str(minggu3))

minggu4 =12849100+5752200+5128400+3880490+4982100
print("maka totalnya "+str(minggu4))

soal2
maka totalnya 33955110
maka totalnya 30568800
maka totalnya 25809590
maka totalnya 32592290